{% extends "base.html" %}

{% load static %}

{% load side %}

{% block body_class %}template-homepage{% endblock %}

{% block content %}

    <div class="headlines container-fluid">
      <div class="row">
        <article class="col-md-6">
          <figure><img class="first-headline-img" src="{% static 'img/tesla-1.jpg' %}" alt="first"  /></figure>
          <div class="headline_description">
            <h2 class="headline_description_label">Tesla Motors</h2>
            <p class="headline_description_text">Tesla pondrá a disposición de los usuarios 2 nuevos cargadores</p>
          </div>
        </article>
        <div class="col-md-6">
          <div class="row-headline">
            <article class="second-headline">
              <figure><img class="second-headline-img" src="{% static 'img/kia-1.jpg' %}" alt="second"  /></figure>
              <div class="headline_description_top">
                <h2 class="headline_description_label">Kia</h2>
                <p class="headline_description_text">La compañía compite por el sector eléctrico</p>
              </div>
            </article>
            <article class="third-headline">
              <figure><img class="third-headline-img" src="{% static 'img/nissan-1.jpg' %}" alt="third"  /><figure>
              <div class="headline_description_top">
                <h2 class="headline_description_label">Nissan</h2>
                <p class="headline_description_text">La marca nipona referente en eléctricos</p>
              </div>
            </article>
            <div class="clear"></div>
          </div>
          <div class="row-headline">
            <article class="fourth-headline">
              <figure><img class="fourth-headline-img" src="{% static 'img/bmw-1.jpg' %}" alt="fourth"  /></figure>
              <div class="headline_description_bottom">
                <h2 class="headline_description_label">Bmw</h2>
                <p class="headline_description_text">Los alemanes quieren su trocito de pastel</p>
              </div>
            </article>
            <article class="fifth-headline">
              <figure><img class="fifth-headline-img" src="{% static 'img/bmw-1.jpg' %}" alt="fifth"  /></figure>
              <div class="headline_description_bottom">
                <h2 class="headline_description_label">Avances</h2>
                <p class="headline_description_text">Nuevas baterías eléctricas</p>
              </div>
            </article>
            <div class="clear"></div>
          </div>
        </div>
      </div>
    </div>


    <div class="container">
      <section style="float:left;">
        <h3>Previous news</h3>
        <article>
          <figure></figure>
          <h2></h2>
          <p>You can access the admin interface <a href="{% url 'wagtailadmin_home' %}">here</a> (make sure you have run "./manage.py createsuperuser" in the console first).</p>
        </article>
        <article>
          <figure></figure>
          <h2></h2>
          <p>If you haven't already given the documentation a read, head over to <a href="http://docs.wagtail.io/">http://docs.wagtail.io</a> to start building on Wagtail</p>
        </article>
      </section>
      {% side %}
    </div>


{% endblock %}
