{% extends "base.html" %}

{% load static %}

{% block body_class %}template-homepage{% endblock %}

{% block content %}

    <div class="headlines">
      <div class="first-headline"><img class="first-headline-img" src="{% static 'img/tesla-1.jpg' %}" alt="first"  /></div>
      <div class="other-headlines" >
         <div class="row-headline">
           <div class="second-headline"><img class="second-headline-img" src="{% static 'img/kia-1.jpg' %}" alt="second"  /></div>
           <div class="third-headline"><img class="third-headline-img" src="{% static 'img/nissan-1.jpg' %}" alt="third"  /></div>
           <div class="clear"></div>
         </div>
         <div class="row-headline">
           <div class="fourth-headline"><img class="fourth-headline-img" src="{% static 'img/bmw-1.jpg' %}" alt="fourth"  /></div>
           <div class="fifth-headline"><img class="fifth-headline-img" src="{% static 'img/bmw-1.jpg' %}" alt="fifth"  /></div>
           <div class="clear"></div>
         </div>
      </div>
      <div class="clear"></div>
    </div>

    <div class="container">
      <h1>Coches eléctricos site!</h1>

      <p>You can access the admin interface <a href="{% url 'wagtailadmin_home' %}">here</a> (make sure you have run "./manage.py createsuperuser" in the console first).

      <p>If you haven't already given the documentation a read, head over to <a href="http://docs.wagtail.io/">http://docs.wagtail.io</a> to start building on Wagtail</p>
    </div>
{% endblock %}
