{% load static wagtailuserbar %}

{% load header %}
{% load menu %}
{% load footer %}

<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <title>{% block title %}{% if self.seo_title %}{{ self.seo_title }}{% else %}{{ self.title }}{% endif %}{% endblock %}{% block title_suffix %}{% endblock %}</title>
        <meta name="description" content="" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        {# vendor Javascript #}
        <script type="text/javascript" src="{% static 'vendor/node_modules/jquery/dist/jquery.min.js' %}"} ></script>
        <script type="text/javascript" src="{% static 'vendor/node_modules/bootstrap/dist/js/bootstrap.min.js' %}"} ></script>

        {# Less and bootstrap #}
        <link rel="stylesheet/less" href="{% static 'vendor/node_modules/bootstrap/less/bootstrap.less' %}">
        <script src="{% static 'vendor/node_modules/less/dist/less.min.js' %}"></script>
        
        {# External stylesheet #}
        <link rel="stylesheet" type="text/css" href="{% static 'vendor/node_modules/normalize.css/normalize.css' %}">

        {# Global stylesheets #}
        <link rel="stylesheet" type="text/css" href="{% static 'css/cocheselectricos.css' %}">

        {# Global javascript #}
        <script type="text/javascript" src="{% static 'js/cocheselectricos.js' %}"></script>


        {% block extra_css %}
            {# Override this in templates to add extra stylesheets #}
        {% endblock %}
    </head>

    <body class="{% block body_class %}{% endblock %}">
        {% wagtailuserbar %}

        {% header %}

        {% menu %}

        <div class="container">
        {% block content %}{% endblock %}
        </div>

        <div class="container">
        {% footer %}
        </div>



        {% block extra_js %}
            {# Override this in templates to add extra javascript #}
        {% endblock %}
    </body>
</html>
