body {
  font-family: sans-serif;
  background-color: #FFFFFF;
  min-width:400px;
}

header .container {
  margin-top: 25px;
  margin-bottom: 25px;
}

@media (max-width: 767px ) {
  header .container {
    margin-top:5px;
    margin-bottom:5px;
  }
}

.logo-img {
    width: 31px;
    height: auto;
    margin: 2px 4px 0 0;
    padding: 0;
}

.logo-text {
    display: inline-block;
    vertical-align: middle;
}
