body {
  font-family: sans-serif;
  background-color: #FFFFFF;
}

header {
  margin: 25px auto 25px auto;
  width: 960px;
}

header .logo {
  margin-top:10px;
}

header .logo img {
  width: 31px;
  height: auto;
  margin-top:10px;
}

header .logo h1 {
  color: #2D3B4E;
  display:inline;
  letter-spacing: 3px;
  text-transform: uppercase;
  font-size: 45px;
  margin-top:0px;
  margin-left: 5px;
}

header .advertise {
  width: 400px;
  height: 60px;
  float: right;
  border: 1px solid black;
}

.clear {
  clear:both;
}

.left {
  float: left;
}
