.first-headline-img, .second-headline-img, .third-headline-img, .fourth-headline-img, .fifth-headline-img {
  max-width: 100%;
  margin: 0;
  padding: 0;
}

.row-headline {
  width: 100%;
}

.clear {
  clear:both;
}

.second-headline, .third-headline, .fourth-headline, .fifth-headline {
  width:50%;
  float:left;
}

.headlines .col-md-6 {
  padding-left: 0;
  padding-right: 0;
}
