.first-headline {
    max-width: 100%;
    height: 480px;
    margin: 0;
    padding: 0;
}

.second-headline, .third-headline, .fourth-headline, .fifth-headline {
    max-width:100%;
    height:200px;
}
