{% load static %}
{% load menu %}
<header>
  <div class="container">
      <div class="row">
        <div class="col-xs-9 col-sm-6 col-md-4">
          <a href="#" >
            <img class="logo-img" src="{% static 'img/electric_car_logo.png' %}" alt="logo"  />
            <h1 class="logo-text" >MAGAZINE</h1>
          </a>
        </div>
        <div class="col-xs-3 col-sm-6 col-md-8 ">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="glyphicon glyphicon-menu-hamburger"></span>
          </button>
        </div>
      </div>
  </div>
</header>
